{% extends 'base.html' %}

{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-12 col-md-6 col-lg-4">
             <div class="card" style="width: 18rem;">
              <img src="../static/image/cloth_3.jpg" class="card-img-top" alt="cloth_3.jpg">
              <div class="card-body">
                <h5 class="card-title">Dress 1</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, fugiat obcaecati?</p>
                <a href="#" class="btn btn-primary">Buy</a>
              </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
             <div class="card" style="width: 18rem;">
              <img src="../static/image/cloth_4.jpg" class="card-img-top" alt="cloth_4.jpg">
              <div class="card-body">
                <h5 class="card-title">Dress 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, fugiat obcaecati?</p>
                <a href="#" class="btn btn-primary">Buy</a>
              </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
             <div class="card" style="width: 18rem;">
              <img src="../static/image/cloth_5.jpg" class="card-img-top" alt="cloth_5.jpg">
              <div class="card-body">
                <h5 class="card-title">Dress 3</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <a href="#" class="btn btn-primary">Buy</a>
              </div>
            </div>
        </div>
         <div class="col-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem">
              <img src="../static/image/cloth_1.jpg" class="card-img-top" alt="cloth_1.jpg">
              <div class="card-body">
                <h5 class="card-title">T-shirt</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, fugiat obcaecati?</p>
                <a href="#" class="btn btn-primary">Buy</a>
              </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
             <div class="card" style="width: 18rem;">
              <img src="../static/image/cloth_2.jpg" class="card-img-top" alt="cloth_2.jpg">
              <div class="card-body">
                <h5 class="card-title">Shirt</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, fugiat obcaecati?</p>
                <a href="#" class="btn btn-primary">Buy</a>
              </div>
            </div>
        </div>
    </div>
{% endblock %}